<div class="modal fade" id="addCrownModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                id="addCrownForm"
                action="{{ url_for('add_crown') }}"
                method="POST"
            >
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Nova Coroa</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                    ></button>
                </div>
                <div class="modal-body">
                    <input
                        type="hidden"
                        name="image_url"
                        id="hiddenImageUrlAdd"
                        required
                    />
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            required
                            placeholder="Ex: Coroa de Flores Brancas"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <textarea
                            name="description"
                            class="form-control"
                            rows="1"
                            required
                            placeholder="Ex: Composta por lírios, rosas e gérberas..."
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input
                            type="text"
                            name="price"
                            class="form-control"
                            required
                            placeholder="Ex: 460,00"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Imagem da Coroa</label>
                        <div class="custom-file-upload">
                            <label for="imageFileAdd" class="custom-file-label">
                                <i class="fas fa-upload me-2"></i>
                                <span>Escolher ficheiro</span>
                            </label>
                            <input
                                type="file"
                                id="imageFileAdd"
                                accept="image/*"
                                required
                            />
                        </div>
                        <div
                            class="progress mt-2"
                            style="display: none; height: 10px"
                        >
                            <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 0%"
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button
                        id="saveAddBtn"
                        type="submit"
                        class="btn btn-primary"
                    >
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editCrownModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="editCrownForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCrownModalTitle">
                        Editar Coroa
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="edit-modal-grid-container">
                        <div class="edit-modal-image-col">
                            <h6>Imagem</h6>
                            <img
                                src=""
                                alt="Imagem atual"
                                class="img-thumbnail mb-3"
                                id="editImagePreview"
                            />
                            <label class="form-label"
                                >Carregar nova (opcional)</label
                            >
                            <div class="custom-file-upload">
                                <label
                                    for="imageFileEdit"
                                    class="custom-file-label"
                                >
                                    <i class="fas fa-upload me-2"></i>
                                    <span>Escolher ficheiro</span>
                                </label>
                                <input
                                    type="file"
                                    id="imageFileEdit"
                                    accept="image/*"
                                />
                            </div>
                            <div
                                class="progress mt-2"
                                style="display: none; height: 10px"
                            >
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 0%"
                                ></div>
                            </div>
                        </div>

                        <div class="edit-modal-form-col">
                            <input
                                type="hidden"
                                name="image_url"
                                id="hiddenImageUrlEdit"
                                required
                            />
                            <div class="mb-3">
                                <label class="form-label">Nome</label>
                                <input
                                    type="text"
                                    name="name"
                                    id="editCrownName"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descrição</label>
                                <textarea
                                    name="description"
                                    id="editCrownDescription"
                                    class="form-control"
                                    rows="1"
                                    required
                                ></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Preço</label>
                                <input
                                    type="text"
                                    name="price"
                                    id="editCrownPrice"
                                    class="form-control"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button
                        id="saveEditBtn"
                        type="submit"
                        class="btn btn-primary"
                    >
                        Salvar Alterações
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
